<template name="User_edit">
  <div class="col-sm-12 col-xs-12">
    <div class="form-wrap">
      <form action="#" data-action="user-edit-form">
        <div class="form-body overflow-hide">
          <div class="form-group">
            <label class="control-label mb-10">TIPO DE DOCUMENTO</label>
            <select
              class="form-control"
              data-placeholder="SELECCIONAR TIPO DE DOCUMENTO"
              tabindex="1"
            >
              <option value="DNI" selected>DOC. NAC. DE IDENTIDAD</option>
              <option value="LE">LIBRETA DE ENROLAMIENTO</option>
              <option value="LC">LIBRETA CIVICA</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label mb-10" for="DocNumber"
              >NÚMERO DE DOCUMENTO</label
            >
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input
                type="text"
                class="form-control"
                id="DocNumber"
                placeholder="SIN PUNTOS"
                value="{{ Client.DocNumber }}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label mb-10" for="FirstName">NOMBRE</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="zmdi zmdi-account-o"></i>
              </div>

              <input
                type="text"
                class="form-control"
                id="FirstName"
                placeholder="SIN PUNTOS"
                value="{{ Client.FirstName }}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label mb-10" for="LastName">APELLIDO</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="zmdi zmdi-account-o"></i>
              </div>

              <input
                type="text"
                class="form-control"
                id="LastName"
                placeholder="SIN PUNTOS"
                value="{{ Client.LastName }}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label mb-10" for="DateOfBirth"
              >FECHA DE NACIMIENTO</label
            >
            <div class="input-group">
              <input
                type="date"
                class="form-control"
                id="DateOfBirth"
                placeholder="SIN PUNTOS"
                value="{{ Client.DateOfBirth }}"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label mb-10" for="Notes">NOTAS</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="zmdi zmdi-collection-text"></i>
              </div>

              <input
                type="text"
                class="form-control"
                id="Notes"
                placeholder=""
                value="{{ Client.Notes }}"
              />
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="control-label mb-10" for="exampleInputEmail_1"
              >EMAIL</label
            >
            <div class="input-group">
              <div class="input-group-addon">
                <i class="icon-envelope-open"></i>
              </div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail_1"
                placeholder="xyz@gmail.com"
              />
            </div>
          </div> -->
          <div class="form-group">
            <label class="control-label mb-10" for="PhoneNumber"
              >TELÉFONO</label
            >
            <div class="input-group">
              <div class="input-group-addon"><i class="icon-phone"></i></div>
              <input
                type="text"
                class="form-control"
                id="PhoneNumber"
                placeholder="119388333"
              />
            </div>
          </div>
          <!-- Sex -->
          <div class="form-group col-lg-2 col-xs-12" style="margin-top:2px;">
            <label style="margin-top:4px;" for="Sex">Sexo</label>
            <select class="form-control" id="Sex" style="margin-top:-4px;">
              <option {{checkIfFemale Client.Sex}} value="F">F</option>
              <option {{checkIfMale Client.Sex}} value="M">M</option>
            </select>
          </div>
          <div class="row">
            <!-- EnroledWithOwnPhone -->
            <div class="form-group col-lg-4 col-xs-12">
              <br />
              <br />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="EnroledWithOwnPhone"
                  {{checkIfEnroledWithOwnPhone
                  Client.EnroledWithOwnPhone}}
                />
                <label class="form-check-label" for="EnroledWithOwnPhone"
                  >Se enroló con su propio teléfono</label
                >
              </div>
            </div>
            <!-- IsBlocked -->
            <div class="form-group col-lg-4 col-xs-12">
              <br />
              <br />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="IsBlocked"
                  {{checkIfIsBlocked
                  Client.IsBlocked}}
                />
                <label class="form-check-label" for="IsBlocked">
                  Bloqueo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions mt-10">
          <button
            type="submit"
            class="btn btn-success mr-10 mb-30"
          >
            GUARDAR
          </button>
          <button
            type="button"
            class="js-cancel btn btn-default waves-effect mr-10 mb-30"
            data-dismiss="modal"
          >
            CANCELAR
          </button>
        </div>
        <!-- <div class="modal-footer">
							`								<button type="submit" class="btn btn-primary waves-effect" data-dismiss="modal">GUARDAR</button>
															<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">CANCELAR</button>
														</div> -->
      </form>
    </div>
  </div>
</template>
