$green:#8BC34A;
$lightgreen:#AED581;
$xtralightgreen:#DCEDC8;
$darkgreen:#558B2F;
$seagreen:#007153;
$yellow:#f8b32d;
$red:#f33923;
$blue:#4e44e7;
$skyblue:#00a5d1;
$lightblue:#958FEF;
$navytblue:#322e56;
$color-info:#e11d8e;
$babypink:#e284a3;
$orange:#ff6300;
$brown:#6d300e;
$purple:#ac235c;
$violet:#6a3a83;
$lightviolet:#bb9ac1;
$gold:#e58b25;
$silver:#83878d;
$black:#212121;
$grey:#878787;
$beige:#f7ce99;
$light_grey:#dedede;
$menu_bg_col_1:#322d34;
$menu_bg_col_2:#27242a;
$white:#fff;
$twitter_blue:#00aced;
$light_white:rgba(255,255,255,0.1);
$xtra_lighter_grey:rgba(33,33,33,0.05);
$xtra_lighter_white:rgba(255,255,255,0.05);


$color-info: $twitter_blue;
$color-primary: $twitter_blue;

// Colors
$color-red:#e74c3c;
$color-primary-dark: #737373;
$color-primary-light: #d5d5d5;
$color-body-text: #ccc;