
// @import "style1.scss";


body {
    color:$color-body-text !important;
}
.panel-title {
    font-size: 20px;
    font-family: $font_main;
}

.brand-text {
    font-size: 13px !important;
    font-family: $font_main;
    color: $color-primary-dark !important;
}


.brand-img {
    width:30px;
}

.logo-wrap {
    padding-top:7px;
}

.right-nav-text {
    font-family: $font_main;
}

.wrapper {
    padding-left:0px !important;
}

.call-card-400 {
    height:400px !important;
}

.scrollable {
    overflow:scroll !important;
}

table {
    tbody {
        tr {
            td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 16px !important;
    padding-right: 1px !important;
    
            }
        }
    }
}

// thead, tbody {
//     display: block !important;
// }

.call-card-events-header {
    display: block !important;
}
.call-card-scrollable{
    display: block !important;
    height: 120px;
    overflow-y:auto;
    overflow-x:auto;
}

#call-events-wrapper{
    display: block !important;
    height:400px !important;
}

.panel-title {
    font-family: 'Titillium', 'Source Code Pro', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
    font-size:20px !important;
    margin-bottom: 5px !important;
}

.bottom-border-light {
    border-bottom-color:white !important;
}

#toggle_mobile_search {
    text-transform: uppercase !important;
    font-family: $font_main;
}

.font-titillium {
    font-family: 'Titillium' !important;
}
.mono {
    font-family: $font_mono !important;
}

html, body, .wrapper , .page-wrapper{
    min-height: 900px !important;
    margin-left:0px !important;
}

.btn-table-md {
    padding-top:1px !important;
    padding-bottom:1px !important;
}

.w-140 {
    width: 140px !important;
}

.nav-tabs > li > a {
    color: $color-body-text !important;
}