
// @import "style1.scss";

@font-face {
    font-family: 'Titillium';
    src: url('/fonts/Titillium-Regular.eot');
    src: url('/fonts/Titillium-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Titillium-Regular.woff2') format('woff2'),
        url('/fonts/Titillium-Regular.woff') format('woff'),
        url('/fonts/Titillium-Regular.ttf') format('truetype'),
        url('/fonts/Titillium-Regular.svg#Titillium-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Colors
$color-red:#e74c3c;
$color-primary-dark: #737373;
$color-primary-light: #d5d5d5;


.panel-title {
    font-size: 20px;
    font-family: 'Titillium', sans-serif;
}

.brand-text {
    font-size: 13px !important;
    font-family: 'Titillium', sans-serif;
    color: $color-primary-dark !important;
}


.brand-img {
    width:30px;
}

.logo-wrap {
    padding-top:7px;
}

.right-nav-text {
    font-family: 'Titillium', sans-serif;
}