<template name="CallCard">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="call-card-300 panel panel-default card-view panel-refresh">
      <div class="refresh-container"><div class="la-anim-1"></div></div>
      <div class="panel-heading">
        <div class="row" style="height:24px !important; display:block !important;">
          <div class="col-lg-8">
            <h6 class="panel-title txt-dark">{{ lastIntent call }}</h6>
          </div>
          <div class="col-lg-4">
            <div class="pull-right">
                <a href="#" class="pull-left inline-block refresh mr-15">
            {{#if callEnd}}
            <span class="text-danger">
              <i class="zmdi zmdi-timer text-danger"></i> {{#with duration}}
              {{ min }}:{{ seg }}{{/with}}
            </span>
            {{else}}
            <span class="text-success">
              <i class="zmdi zmdi-timer text-success"></i>
              {{ timeElapsed call }}"
            </span>
            {{/if}}
          </a>

          <a href="#" class="pull-right inline-block full-screen">
            {{#if callEnd}}
            <span class="text-danger">
              <i class="zmdi zmdi-phone-end text-danger"></i>
            </span>
            {{else}}
            <span class="text-success">
              <i class="zmdi zmdi-phone-in-talk text-success"></i>
            </span>
            {{/if}}
          </a>
            </div>

            
          </div>
        </div>
        <div class="pull-left">
          
          <!-- <div class="row">
            <div class="col col-md-12">
              <i class="fa fa-info-circle"></i> {{ call }}
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col col-lg-8">{{{agentName}}}</div>
  
          </div> -->
          <p>{{{ani}}} &nbsp; {{{source}}} {{ source_version }}</p>
          <p><i class="fa fa-info-circle"></i> {{ call }}</p>

          <!-- <p>{{{ani}}} &nbsp; {{{callStartDate}}}</p> -->
          <!-- <p>{{{source}}} {{ source_version }}</p> -->
        </div>
   
        <!-- <div class="pull-right">
          <p class="pull-left inline-block mr-15 mt-5">
            {{{source}}} {{ source_version }}
          </p>
        </div> -->
        <div class="pull-right">
          <div class="row">
          <p class="pull-right inline-block mr-15">{{{callStartTime}}}</p>

          </div>
          <div class="row">
          <p class="pull-left inline-block mr-15">{{{agentName}}}</p>

          </div>

        </div>
       

        <!-- <div class="pull-right">
                 <p class="pull-left inline-block mr-15">
            {{{source}}} {{ source_version }}
          </p>
                 <p class="pull-left inline-block mr-15">
             {{{callStartDate}}}
          </p>
                 <p class="pull-left inline-block mr-15">
             {{{callStartTime}}}
          </p>
        </div> -->
        <div class="clearfix"></div>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body row pa-0">
          <div id="call-events-wrapper" class="table-wrap">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <!-- <thead class="call-card-events-header">
                  <tr>
                    <th><i class="zmdi zmdi-time-interval"></i></th>
                    <th>Evento</th>
                    <th>Detalles</th>
                  </tr>
                </thead> -->
                <tbody class="call-card-scrollable">
                  {{#each event in feedByCallID call }}
                  <tr class="bottom-border-light">
                    <td>
                      {{#with delta event.createdAt}}
                      <span class="mono">{{ min }}:{{ seg }}</span
                      >{{/with}}
                    </td>
                    <td>
                      <!-- <iframe src="google.com" width="300px" height="200px">
                        {{#if event.audio
                        }}<a
                          class="btn"
                          href="{{audioLink event.audio}}"
                          target="_top"
                          ><span class="label label-info"
                            ><i class="zmdi zmdi-play"></i>
                            {{ event.type }}</span
                          ></a
                        >
                        {{else}}
                        <span class=" uppercase-font txt-dark weight-500">
                          {{{explain event.type}}}
                        </span>
                        {{/if}}
                      </iframe> -->
                      {{#if event.audio
                      }}
                      <a class="btn btn-ouline btn-xs btn-primary btn-" href="{{audioLink event.audio}}" target="_blank"><i class="zmdi zmdi-play"></i></a>
                      {{else}}
                      <span class=" uppercase-font txt-dark weight-500">
                        {{{explain event.type}}}
                      </span>
                      {{/if}}
                    </td>
                    <td>
                      {{#if event.user }}
                      <i class="zmdi zmdi-account-o"></i>
                      {{ event.user }}
                      {{/if}}
                      {{#if event.score}}<i class="zmdi zmdi-gps"></i
                      >{{ event.score }}
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                  <!-- <tr>
														<td><span class="txt-dark weight-500">Youtube</span></td>
														<td>Felix</td>
														<td><span class="txt-success"><i class="zmdi zmdi-caret-up mr-10 font-20"></i><span>1.43%</span></span></td>
														<td>
															<span class="txt-dark weight-500">$951</span>
														</td>
														<td>
															<span class="label label-danger">Closed</span>
														</td>
													</tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
