 <!-- <div class="row">
        <div class="col col-xs-12 col-lg-12 text-center">
            <h3>{{reportDatesExplanation}}</h3>
            {{#if showingForm}}
            <button class="js-hide-form btn btn-sm btn-primary"> Ocultar filtros de fecha</button>
            {{else}}
            <button type="button" class="js-show-form btn btn-sm btn-warning"> Ver filtros de fecha</button>
            {{/if}}
        </div>
    </div> -->
    <br>
    <!-- {{#if showingForm}} -->
    <!-- <div class='row'>
        <div class="col col-xs-12 col-lg-12 text-center">
            <button class="btn btn-primary js-set-1hr">1 HR</button>
            <button class="btn btn-primary js-set-today">HOY</button>
            <button class="btn btn-primary js-set-week">SEMANA</button>
            <button class="btn btn-primary js-set-month">MES</button>
            <button class="btn btn-primary js-set-all">TODO</button>
        </div>
    </div> -->
    <!-- <form class="form-horizontal" data-action="set-report-dates">
        <div class="form-row">
            <div class="form-group col col-xs-12 col-lg-3">
                <label class="control-label" for="ReportStartDate">Inicio</label>
                <input class="form-control form-control-sm" type="date" id="ReportStartDate" name="ReportStartDate" />
                <span class='form-control-feedback'></span>
                <span class='help-block'></span>
            </div>
            <div class="form-group col col-xs-12 col-lg-3">
                <label class="control-label" for="ReportEndDate">Fin</label>
                <input class="form-control form-control-sm" type="date" id="ReportEndDate" name="ReportEndDate" />
                <span class='form-control-feedback'></span>
                <span class='help-block'></span>
            </div>
            <br>
            <!-- <div class="form-group col col-xs-12 col-lg-6"> -->
                <!-- <button type="submit" class="btn btn-sm btn-success" style="margin-left:9px;margin-top:6px;">Confirmar</button> -->
                <!-- <span class="danger" id="summary"></span> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </form>  -->
    <!-- {{/if}} -->