<template name="Agent_search">
  <!-- <form id='search-agent' class='form-control' autocomplete='off' placeholder='29123234' style= 'text-transform:uppercase'>
    <input type='text' name='docnumber'>
    <input type='submit' value='Buscar Agente'>

  </form> -->
{{> EasySearch.Input index=agentSearchIndex attributes=agentSearchIndexAttributes noDocumentsOnEmpty='true' }}
{{#EasySearch.Each index=agentSearchIndex }}
<button class='js-search-result-item btn  search-result' id={{_id}}>{{FirstName}} {{LastName}}</button>
  {{/EasySearch.Each}}
{{#EasySearch.IfNoResults index=agentSearchIndex}}
  Este funcionario no está ingresado.
  <hr>
  <button class='js-create-item btn btn-success '>Ingresar {{insertedText}} al sistema</button>
  {{/EasySearch.IfNoResults}}
</template>
