<template name="Agent_DECS">
    {{#if selectedItem}}
    <!-- <h6>selected item : {{selectedItem}}</h6> -->
    <div class="list-item">
    <div class="">
<button style="margin:3px;" class="js-deselect-item btn btn-primary">
      <i class='fa fa-arrow-left'></i>
        {{_ "Back to search"}}
      </button>
    </div>
  </div>
        {{#if editingItem}}
        <br>
          Editando {{> Agent_edit (editAgentArgs selectedItem)}}

        {{else}}
          <button style="margin:3px;" class="btn btn-danger js-delete" id={{selectedItem}}>eliminar</button>
          <button style="margin:3px;" class="btn btn-warning js-edit" id={{selectedItem}}>editar</button>
          <!-- {{> Item_show showthis}} -->
          {{> Agent_show (passdata selectedItem)}}
          <!-- {{> Agent_show (showAgentArgs selectedItem)}} -->
          <!-- {{> Item_motor_show (showItemArgs selectedItem)}} -->
          <!-- <a href="{{pathFor 'printLabels' paramsLabel}}">print labels</a> -->
        {{/if}}
    {{else}} <!-- //selectedItem -->
      {{#if creatingItem}}
        <!-- <h1>creando</h1> -->
        <br>
        Ingresando  {{> Agent_edit createAgentArgs }}

      {{else}}
          <h3>Ingresar DNI del funcionario sin puntos ni espacios</h3>
          {{> Agent_search searchAgentArgs }}


      {{/if}}
    {{/if}} <!-- //selectedItem -->
</template>
