<template name="Agent_DECS">
  
  {{#if selectedItem}}
  
  {{#if editingItem}}
  <br />
  {{> Agent_edit (editAgentArgs selectedItem)}}

  {{else}}
  <div class="row">
    <div class="col-lg-12">
      <button style="margin:3px;" class="btn-xs pull-left js-deselect-item btn btn-primary">
        <i class="zmdi zmdi-arrow-left"></i>
        <i class="zmdi zmdi-search"></i>
        
      </button>
  <button
    style="margin:3px;"
    class="btn-xs pull-left btn btn-danger js-delete"
    id="{{ selectedItem }}"
  >
        <i class="zmdi zmdi-delete"></i>
  </button>
  <button
    style="margin:3px;"
    class="btn-xs pull-left btn btn-warning js-edit"
    id="{{ selectedItem }}"
  >
        <i class="zmdi zmdi-edit"></i>
  </button>
    </div>
  </div>
 
  {{> Agent_show (passdata selectedItem)}}
     

  {{/if}}
  {{else}}
  {{#if creatingItem}}
  <br />
  Ingresando {{> Agent_edit createAgentArgs }}

  {{else}}
  <div class="row">
    <div class="col col-lg-12">
  {{> Agent_search searchAgentArgs }}
    </div>
  </div>
  <!-- {{> Agent_search searchAgentArgs }} -->
  {{/if}}
  {{/if}}
  <!-- //selectedItem -->
</template>
